.container {
  display: flex;
	margin: auto;
  width: 50%;
  justify-content: space-between;
}

.button {
  width: 100px;
  height: 38px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  border: 1px;
  border-color: white;
  border-style: solid;
  gap: 8px;
  margin-top: 32px;
	margin-bottom: 32px;
  background-color: rgba(81, 38, 137, 1);
  color: white;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

.button:disabled{
	background-color: gray;
}
