.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  background-color: rgb(219, 227, 233);
  color: rgb(75, 74, 74);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(81, 38, 137, 1);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.socialMediaForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.socialLogin {
  width: 170px;
  height: 40px;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.socialLogin:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
