.container {
  height: 320px;
  background-color: rgba(81, 38, 137, 1);
  color: white;
  background-size: cover;
  background-position: center center;
  padding-left: 5%;
  padding-right: 5%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editPanel {
  display: flex;
  margin-left: 200px;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
    height: 400px;
  }
  .editPanel {
    margin-left: auto;
    justify-content: center;
  }
}
