.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input{
  padding: 20px;
  background-color:  rgb(219, 227, 233);
  /* color:gainsboro; */
  border: none;
  border-radius: 5px;
}

.form button{
  padding: 20px;
  cursor: pointer;
  background-color: rgba(81, 38, 137, 1);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}